<!-- loading spinner -->
<app-loading *ngIf="loading"></app-loading>
<!-- characters list -->
<div *ngIf="!loading" class="row card-character-details-container">
  <!-- top info -->
  <div class="col-md-12 text-center mb-5">
    <img
      class="card-img-top"
      src="{{ character['thumbnail']['path'] }}.{{
        character['thumbnail']['extension']
      }}"
      alt="{{ character['name'] }}"
    />
    <h2>{{ character["name"] }}</h2>
  </div>

  <!-- comics list -->
  <div class="col-md-12 mt-2">
    <div *ngIf="!loading" class="row card-character-container">
      <div class="col-md-12">
        <h2>
          Comics
          <hr />
        </h2>
      </div>
      <div class="col-md-4 mt-3 mb-3" *ngFor="let comic of comics">
        <div class="card card-character text-left">
          <img
            class="card-img-top"
            src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}"
            alt="{{ comic.title }}"
          />
          <div class="card-body">
            <a
              class="btn btn-link"
              routerLink="/comic/details"
              [queryParams]="{ id: comic.id }"
            >
              <h5 class="card-title">{{ comic.title }}</h5>
            </a>
          </div>
          <div class="card-footer">
            <!-- Buttons -->
            <a
              class="btn btn-primary mr-3"
              placement="top"
              ngbTooltip="View details"
              routerLink="/comic/details"
              [queryParams]="{ id: comic.id }"
              ><i class="fa fa-eye" aria-hidden="true"></i
            ></a>

            <button
              class="btn btn-warning favorite-btn"
              placement="top"
              ngbTooltip="Save favorite"
              (click)="addToFav('comics', comic)"
            >
              <i class="fa fa-heart" aria-hidden="true"></i>
            </button>
            <!-- /Buttons -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- series list -->
  <div class="col-md-12 mt-5">
    <div *ngIf="!loading" class="row card-character-container">
      <div class="col-md-12">
        <h2>
          Series
          <hr />
        </h2>
      </div>
      <div class="col-md-4 mt-3 mb-3" *ngFor="let item of series">
        <div class="card card-character text-left">
          <img
            class="card-img-top"
            src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}"
            alt="{{ item.title }}"
          />
          <div class="card-body">
            <a
              class="btn btn-link"
              routerLink="character/details"
              [queryParams]="{ id: item.id }"
            >
              <h5 class="card-title">{{ item.title }}</h5>
            </a>
          </div>
          <div class="card-footer">
            <!-- Buttons -->
            <a
              class="btn btn-primary mr-3"
              placement="top"
              ngbTooltip="View details"
              routerLink="character/details"
              [queryParams]="{ id: item.id }"
              ><i class="fa fa-eye" aria-hidden="true"></i
            ></a>

            <button
              class="btn btn-warning favorite-btn"
              placement="top"
              ngbTooltip="Save favorite"
              (click)="addToFav('series', item)"
            >
              <i class="fa fa-heart" aria-hidden="true"></i>
            </button>
            <!-- /Buttons -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
